* {
    box-sizing: border-box;
    font-family: rajdhani;
    margin: 0;
    padding: 0;
}

body {
    font-family: rajdhani;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #36454f;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: rajdhani;
    color: #ffffff;
    letter-spacing: normal;
}

#slideNavigation {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #000000d9;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(58, 77, 57, 0.1);
    transition: height 0.5s ease-in-out;
    z-index: 1;
    padding: 0;
    backdrop-filter: blur(10px);

    @media screen and (max-width: 575px) {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(15px);
    }
}

#slideNavigation.slideMenu {
    height: 890px;
}

#slideNavigation.slideMenu::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 40px;
    width: 55px;
    height: 50px;
    background: #2b2792;
    border-radius: 10px;
    /* border: 1px solid #fff; */
}

h3 span {
    position: relative;
    color: #ffffff;
    padding-inline: 10px;
}

h3 span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a73d1;
    z-index: -1;
}

video {
    will-change: transform;
    contain: strict;
}

#scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;
}

#scroll-inner {
    height: 5000px;
    /* simulate long scroll inside fixed viewport */
    position: relative;
}

#hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
    object-position: bottom;
}

.canvas-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.content-wrapper h2,
.content-wrapper h3 {
    background: linear-gradient(0deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 10%, rgba(237, 221, 83, 1) 100%);
    color: #00000000;
    background-clip: text;
}